@import "tailwindcss";

/* Custom Font */
@font-face {
    font-family: "Apple Garamond";
    src: url("/src/assets/font/AppleGaramond.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@theme {
    --font-garamond: "Apple Garamond";
    --color-inv-blue: rgba(4, 67, 251, 1);
    --color-inv-cyan: rgba(0, 235, 255, 1);
    --color-inv-pink: rgba(255, 0, 124, 1);
    --color-inv-yellow: rgba(255, 164, 13, 1);
    --color-grad-yellow: #fbbc04;
    --color-grad-light-purple: #e2affd;
    --color-grad-light-blue: #afc1fd;
    --color-grad-light-green: #affdba;

    --drop-shadow-links: 0 1px 1px rgba(255,255,255,0.8);
}

// Chore
.masked-text {
    /* text-transparent */
    background-image: linear-gradient(
        to right,
        var(grad-yellow) 0%,
        var(--gradient-color-2) 42%,
        var(--gradient-color-3) 74%,
        var(--gradient-color-4) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
